@import 'tailwindcss';

:root {
  background-color: var(--color-background);
}

@theme {
  --color-primary: #e89c30;
  --color-background: #1a1614;
  --color-card-dark: #26211e;
  --color-card-light: #2f2a27;
  --color-text-smokey: #80756b;
  --color-text-light: #e5e1de;
  --color-error: #93000a;
}
